<!DOCTYPE HTML>
<html>
<head>
	<title>Flask-SocketIO-Celery</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
	<h1>Flask-SocketIO-Celery Demo</h1>
	<br>

	<p id="emit_name">hello, {{ name }}</p>
    <button id="login_button">click to get receive value</button>
    <br>
	<br>
	<br>

	<h2>Receive:</h2>
	<p id="receive_div"></p>

	<script type="text/javascript">
        $(document).ready(function() {
        	namespace = '/test_conn';
        	console.log('document ready');

        	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        	socket.on('connect', function (msg) {
				socket.emit('test', {data: 'hello'})
			})

        	socket.on('test_message', function (msg) {
        		console.log(msg['data'])
				$('#receive_div').text(msg['data'])
			})

			$('#login_button').click(function () {
				console.log('button click')
				socket.emit('join_room', {name: $('#emit_name').text()})
			})

		});

	</script>
</body>
</html>