<!DOCTYPE HTML>
<html>
<head>
	<title>Flask-SocketIO-Celery</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
	<h1>Flask-SocketIO-Celery Demo</h1>
	<h2>Login</h2>
	<br>
	<h3>Enter your name:</h3>
	<form id="emit" method="POST" action="login">
		<input type="text" id="emit_name" name="emit_name" placeholder="your name">
		<input type="submit" id="task_button" value="send">
	</form>
	<br>

	<script type="text/javascript">
        $(document).ready(function() {

		});

	</script>
</body>
</html>